name: Update user table in Supabase cron job
on:
schedule:
  - cron: '*/5 * * * *'
jobs:
  run-script:
  runs-on: ubuntu-latest
  env:
    SLEEPER_LEAGUE_ID: ${{ secrets.SLEEPER_LEAGUE_ID }}
    SUPABASE_URL: ${{ secrets.SUPABASE_URL }}
    SUPABASE_ANON_KEY: ${{ secrets.SUPABASE_ANON_KEY }}
  steps:
    - name: Check out repository
      uses: actions/checkout@v2

    - name: Set up Node.js
      uses: actions/setup-node@v2
      with:
        node-version: 18.16.1

    - name: Install dependencies
      run: npm ci
    

    - name: Run script
      run: node index.js